.main{
    background: #fff;
}
.first{
    width: 800px;
    height: 247px;
    color:#1c1e21;
    font-family: inherit;
    background: #fff;
    
}
.img{
    width: 300px;
    height: 190px;
    padding-top: 127px;
    padding-left: 230px;
}
.h{
    padding-left: 199px;
    padding-top: 0px;
    
}
.second{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    padding-left: 262px;
    padding-top: 15px;
    font-size: 28px;
    
}
.right{
    
    background-color: whitesmoke;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    margin-left: 842px;
    margin-top: -200px;
    height: 350px;
    border: 1px solid #dddfe2;
}
.righttext{
    margin-left: 9px;
    width: 356px;
    height: 41px;
    border-radius: 8px;
}
.righttext1{
    margin-left: 9px;
    width: 356px;
    height: 41px;
    border-radius: 8px;
}
.righttext2{
    margin-top: 15px;
    margin-left: 9px;
    width: 356px;
    height: 41px;
    border-radius: 8px;
}
.button1{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    margin-top: 15px;
    margin-left: 20px;
    width: 356px;
    
}
.fpassword{
    margin-top: 20px;
    margin-left: 125px;
    width: 356px;
    height: 41px;
}
.createaccount{
    background-color: #42b72a;
    border-radius: 6px;
    font-size: 17px;
    width: 223px;
    height: 50px;
    margin-left: 81px;
    margin-top: 15px;
}
.rightdown{
    margin-left: 924px;
    margin-top: 20px;
}
